body
{
	width: 1100px;
	margin: 0 auto;
}

/* main page header with background image */
header
{
	width: 1100px;
	height: 270px;
	border-radius: 4px;
	background-image: url("gallery/header.JPG");
	text-align: center;
	overflow: auto;
}


header h1
{
	color: white;
	font-size: 40px;
	font-weight: normal;
	font-family: "Comic Sans MS", cursive;
	letter-spacing: 10px;
	margin-top: 0px;
}

/* page navigation menu */
nav
{
	float: left;
	width: 200px;
	margin-top: 4px;
}

nav ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/* menu element */
nav ul li a
{
	display: block;
	width: 162px; /* 190px -28px (z border-box na content-box) */
	height: 26px; /* 54px - 28px  - || - */

	padding: 12px;
	border: 2px solid #003566;
	
	margin: 4px 0;

	border-radius: 4px;
	background-color: #cce6ff;

	color: black;
	font-family: "Comic Sans MS", cursive;
	font-size: 18px;
	text-align: center;
	text-decoration: none;	
}

nav ul a:hover, a.selected
{
	padding-top: 10px;
	border: 4px solid #003566;
	width: 158px;
	height: 24px;
	color: white;
	background-color: #0069cc;
}

/* main page section */
section.main-section
{
	float:right;
	width: 898px;
	margin-top: 8px;
}

/* single news article in the main page section */
section.main-section article.news
{
	border: 1px solid #0073e6;
	border-radius: 4px;
	width: 898px;
	margin-bottom: 4px;
	font-family: Arial;
}

section.main-section article.news h2
{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 2px 4px;
	background-color: #0073e6;
	color: white;
	border-radius: 2px 2px 0 0;
}

section.main-section article.news p
{
	padding: 0px 4px;
}

/* article header with date */
section.main-section article.news p.news-date
{
	color: gray;
	font-variant: small-caps;
}

/* article on the Information and About page */
section.main-section article.about
{
	font-size: 16px;
	font-family: Arial, sans-serif;
}

section.main-section article.about h2
{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 2px 4px;
	background-color: #0073e6;
	color: white;
	border-radius: 4px 4px 0 0;
}

section.main-section article.about img#image1
{
	float:right;
	width:400px;
	height:262px;
	border-radius:4px;
}

section.main-section article.about img#myphoto
{
	float: right;
	width: 270px;
	height: 252px;
	border-radius: 16px;
}

/* gallery page */
section.main-section article#gallery
{
	border-radius: 4px;
	width: 898px;
	font-size: 16px;
	font-family: Arial;
	overflow: auto; 
	height: 600px; 
}

section.main-section article#gallery h2
{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 2px 4px;
	background-color: #0073e6;
	color: white;
	border-radius: 4px 4px 0 0;
}

section.main-section article#gallery img
{
	float: left;
	width: 180px;
	height: 180px;
	padding: 16px;

}

section.main-section article#gallery img:hover
{
	width: 178px;
	height: 178px;
	border: 1px solid blue;
}
