body {
    margin: 0;
}

.container {
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
    overflow: auto;
    font-family: Arial, sans-serif;
    transition: width 1s;
}

header {
    background-image: url("../gallery/header.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 270px;
    border-radius: 4px;
    text-align: center;
    overflow: auto;
}

h1 {
    font-family: 'Fredericka the Great', 'Comic Sans MS', cursive;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 10px;
    line-height: 0.9em;
    color: white;
    margin-top: 0px;
}

h2 {
    margin-top: 0;
    margin-bottom: 8px;
    padding: 2px 4px;
    background-color: #0073e6;
    color: white;
    border-radius: 4px 4px 0 0;
}

nav {
    width: 100%;
    margin-top: 4px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 45px;
    border: 2px solid #003566;
    margin: 4px 0;
    border-radius: 4px;
    background-color: #cce6ff;
    color: black;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

nav ul a:hover, a.selected {
    color: white;
    background-color: #0069cc;
}

.main-section {
    width: 100%;
    margin-top: 8px;
}

article {
    font-size: 16px;
}

article p {
    margin-top: 8px;
    text-align: justify;
}

article img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 4px;
    display: block;
}

article.news {
    box-sizing: border-box;
    border: 1px solid #0073e6;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 4px;
}

article.news h2 {
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
}

article.news p {
    padding: 0px 4px;
}

article.news p.news-date {
    color: gray;
    font-variant: small-caps;
}

.gallery {
    width: 100%;
}

.gallery img {
    box-sizing: border-box;
    display: block;
    border: 1px solid lightgrey;
    border-radius: 1px;
    margin-bottom: 4px;
    width: 100%;
}

.gallery img:hover {
    border: 1px solid grey;
}

@media (min-width: 320px) {
    article img {
        max-width: 50%;
        float: right;
        margin-left: 2%;
    }
}

@media (min-width: 569px) {
    .gallery img {
        float: left;
        margin-right: 1%;
        width: 49%;
    }
}

@media (min-width: 769px) {
    nav {
        width: 18%;
        float: left;
    }

    .main-section {
        float: right;
        width: 81%;
    }

    .gallery img {
        width: 24%;
    }
}

